---
import svgEllipsis from "/images/icon-ellipsis.svg";

export interface Props {
  title: string;
  currentTime: number;
  lastTime: number;
}

const { title, currentTime, lastTime, } = Astro.props;
---

<li class:list={`card ${title.toLowerCase()}`}>
  <article>
    <h2>
      {title}
      <img src={svgEllipsis} alt="Ellipsis" />
    </h2>
    <h3>{currentTime}hrs
      <span class="previous">Last - {lastTime}</span>
    </h3>
  </article>
</li>

<style>
  h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0 0 0;
    font-size: 3.2rem;
    font-weight: 300;
  }

  .previous {
    font-size: 1.3rem;
    font-weight: 500;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: #444;
  }

  .card {
    padding: 3.2rem 0 0;
    list-style: none;
    background-size: 400%;
    border-radius: 1.6rem;
  }

  .card article {
    padding: 2.4rem 3.2rem ;
    background-color: var(--dark-blue);
    border-radius: 1.6rem;;
  }

  .card.work {
    background-color: var(--light-orange);
  }

  .card.play {
    background-color: var(--soft-blue);
  }

  .card.study {
    background-color: var(--light-red);
  }

  .card.exercise {
    background-color: var(--lime-green);
  }

  .card.social {
    background-color: var(--violet);
  }

  .card.self {
    background-color: var(--soft-orange);
  }
</style>
